[Unit]
Description=motion vector detection program with OSD web interface

[Service]
ExecStart=/usr/bin/pikrellcam
User=pikrellcam
AmbientCapabilities=CAP_SYS_RAWIO

[Install]
WantedBy=multi-user.target
